cmd.exe.lnk
*.pyc
*.DS_Store
log.txt
dumplog.txt
errorlog.txt
scanlog.txt
arthurlog.txt
.bashrc
.bash_logout
.profile
dumplog.old.txt
*.todo
*_test/*
messy_merlin/*
tablenames
PG_setup.txt
1000scans.txt
IMAPLog.txt
imaplog.txt
imappush.sh
