html {
	height: 100%;
}

body {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 8pt;
	color: white;
	background-color: #303030;
	background-image: url(back.gif);
	margin: 0;
	padding: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

#footer, #push {
	height: 4em;
	clear: both;
}

table {
	font-size: 8pt;
}

a {
	color: #CCC;
	text-decoration: none;
}

a:hover {
	color: #999;
}

a.myplanet {
	color:#FFD633;
	font-weight:bold;
}
a.myplanet:hover {
	color:#FFFFFF;
	font-weight:bold;
}

a.gray {
	color: #ffffff;
}

a.gray:hover {
	color: #cccccc;
}

input {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: x-small;
	background-color: rgb(221, 221, 221);
}

select {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: x-small;
}

table.black {
	background-color: black;
}

table.stats {
  background-color: #131313;
  border-color: #151515 #666666 #666666 #151515;
  border-right: 1px solid #666666;
  border-style: solid;
  border-width: 1px;
  font-size: 9px;
  height: 100px;
  margin-right: 25px;
  text-align: left;
  width: 232px;
}

tr.header {
	background-color: #293452;
	background-image: url(dataheader.jpg);
}

tr.datahigh {
 background-color: #222;
}

td.datahigh {
 background-color: #333;
}

tr.odd {
	background-color: #222;
}

tr.even {
	background-color: #333;
}

td.odd {
	background-color: #292d3a;
}

td.even {
	background-color: #252936;
}

tr.galdef {
	background-color: #595989;
}

tr.defend {
	background-color: #598959;
}

tr.attack {
	background-color: #895959;
}

tr.unknown {
	background-color: #898959;
}

tr.new {
	background-color: #293C3A;
}

span.new {
	color: #66CC66;
}

tr.deleted {
	background-color: #3D2D3A;
}

span.deleted {
	color: #CC6666;
}

tr.nolongerexists {
	color: #888888;
}

.green {
	color: #00FF00;
}

.red {
	color: #FF0000;
}

.yellow {
	color: #FFFF00;
}

.white {
	color: #ffffff;
}

.orange {
	color: #FFA500;
}

.Cat {
	color: #4682b4 !important;
	font-weight: bold;
}

.Ter {
	color: #909090 !important;
	font-weight: bold;
}

.Xan {
	color: #008000 !important;
	font-weight: bold;
}

.Zik {
	color: #AA0000 !important;
	font-weight: bold;
}

.Etd {
	color: #FFFFFF !important;
	font-weight: bold;
}

.Uncovered {
	background-color: #AD7070;
}

.Semi-covered {
	background-color: #AAAA6F;
}

.Covered {
	background-color: #598959;
}

.Recheck {
	background-color: #92AA6F;
}

.Fake {
	background-color: #87577B;
}

.Recalled {
	background-color: #6F7587;
}

.Impossible {
	background-color: #717157;
}

.Friendly {
	color: #00FF00;
}

.Neutral {
	color: white;
}

.Hostile {
	color: #FF0000;
}

.napped {
	font-weight: bold;
	color: #00FF00;
}

.High {
	background-color: #598959;
}

.Medium {
	background-color: #AAAA6F;
}

.Low {
	background-color: #AD7070;
}

.Nodef {
	background-color: #717157;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.growth_pc {
	display: inline;
}

.growth_diff {
	display: none;
}

.arrow-up {
	width: 0;
	height: 0;
	position: relative;
	vertical-align: middle;
	display: inline-block;
	border-color: green transparent;
	border-style: solid;
	border-width: 0px 7px 7px 7px;
}   
	
.arrow-down {
	width: 0;
	height: 0;
	position: relative;
	vertical-align: middle; 
	display: inline-block;
	border-color: red transparent;
	border-style: solid;
	border-width: 7px 7px 0px 7px;
}

.arrow-left {
	width: 7px;
	height: 0;
	position: relative;
	vertical-align: middle;
	display: inline-block;
	border-color: transparent yellow;
	border-style: solid;
	border-width: 7px 7px 7px 0px;
} 
